# Path to EEG hyperscanning data
export EEG_DATA_PATH=
# Path to original data including EarEEG (optional)
export EEG_DATA_PATH_ORIGINAL=
# Path to stimuli videos and extracted features
export EEG_STIMULI_PATH=
# Path to save outputs and intermediate files
export EEG_WORK_DIR=